.App {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px;
}

.item-list,
.cart {
  flex: 1;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  background-color: green;
  margin-left: 10px;
  border: none !important;
}
